main{
    text-align: center;
    height: 1100px;
    background-color: rgb(55, 82, 82);
}
h2{
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.contenedorPadre{
    margin: 20px;
}

.producto{
    margin: 0;
margin-bottom: 0;

}