/************************************************Estilo del NavBar*****************************************/
.logo{
    margin-left: 10px;
}

.NavBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0.1px;
    z-index: 1;
}
main{
    z-index: -1;
}

.ContenedorProductos{
    display: flex;
    flex-direction: row;
   
    list-style-type: none;
   
}
.TipoDeProducto{
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: black;
}

.Carrito{
    border: 0ch;
    background-color: white;
}

/********************************************Estilo del ItemListContainer**********************************/
main{
    text-align: center;
  
    background-color: rgb(55, 82, 82);
}


h2{
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.ImagenDelProducto{
    height: 200px;
    width: 200px;
}

.contenedorPadre{
    margin: 20px;
    background-color: white;
    border: 2px black solid;
}

.producto{
    margin: 0;
margin-bottom: 0;

}

/**************************************************ItemDetailContainers**********************************/


.ImagenDelProductoDetail{
    height: 400px;
    width: 400px;
}
.contenedorPadreDetail{
    width: 400px;
    height: 720px;
    background-color: white;
    margin: auto;
    border: 2px black solid;
}

hr{
    width: 270px;
}

.ContenedorControles{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 160px;
}

.botones{
    height: 25px;
    margin: 7px;
}


.IrAlCarrito{
    margin-top: 15px;
}

/*////////////////////////////////////////////////////////////CartContainer////////////////////////////////*/
.table{
    margin: auto;
    }

th,td{
margin: 5000px;
}


.formulario h2{
    border-top: solid black;
}
.contenedForm{
  
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-right: 590px;
}
.form{
    margin-bottom: 10px;
}
